body[data-controller="electric_cars"][data-action="show"] {
  .car-item {
    border: none;

    &:after {
      content: "";
      height: 70px;
      width: 100%;
    }

    &--action {
      margin-top: 10px;
      width: 100%;
    }
  }
}
