<div class="row car-item">
  <div class="col-xs-12 col-md-6">
    <img class="car-item--img" src="http://placehold.it/700x400" alt="Test">
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="car-item--title">
      <h4><%= "#{@electric_car.brand} - #{@electric_car.model}" %></h4>
      <h4><%= number_to_currency(@electric_car.price_in_dollars) %></h4>
    </div>

    <p><b>Brand: </b><%= @electric_car.brand %></p>
    <p><b>Model: </b><%= @electric_car.model %></p>
    <p><b>Available Colors:</b> <%= @electric_car.colors %></p>
    <p><b>Description: </b><%= @electric_car.description %></p>

    <div class="car-item--action">
      <%= link_to 'Buy this Car', new_order_path(electric_car_id: @electric_car.id), class: 'btn btn-success' %>
    </div>
  </div>

  <div class="col-xs-12">
    <br />
    <h3>Specification</h3>
    <p><%= @electric_car.specification %></p>
  </div>
</div>
