<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <h3>Please fill in the form to complete the order</h3>

    <%= form_for @order, html: { class: 'form' } do |f| %>
      <%= f.hidden_field :electric_car_id, value: params[:electric_car_id] %>

      <div class="form--group">
        <%= f.label :first_name do %>
          <span class="form--required-sign">*</span>First Name:
        <% end %>

        <%= f.text_field :first_name, placeholder: 'Enter your first name', required: true %>
      </div>

      <div class="form--group">
        <%= f.label :last_name do %>
          <span class="form--required-sign">*</span>Last Name:
        <% end %>

        <%= f.text_field :last_name, placeholder: 'Enter your last name', required: true %>
      </div>

      <div class="form--group">
        <%= f.label :email do %>
          <span class="form--required-sign">*</span>Email:
        <% end %>

        <%= f.email_field :email, placeholder: 'Enter your email', required: true %>
      </div>

      <div class="form--group">
        <%= f.label :phone_number do %>
          <span class="form--required-sign">*</span>Phone Number:
        <% end %>

        <%= f.phone_field :phone_number, placeholder: 'Enter your phone number', pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}", required: true %>
        <span class="form--hint"><b>*</b> Format: 063-123-7890</span>
      </div>

      <div class="form--group">
        <%= f.label :comment %>
        <%= f.text_area :comment, placeholder: 'Please feel free to add any additional information...' %>
      </div>

      <div class="form--group">
        <%= f.submit 'Create Order', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
