<%= content_for :content_header do %>
  <div class="hero-image">
    <%= image_tag 'electric_car.svg', class: 'hero-image--item' %>
  </div>
<% end %>

<div id="react--car-list"></div>
<%= javascript_pack_tag 'electric_cars' %>
