html {
  font-size: $default-font-size;
}

body {
  color: $gray;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

a {
  color: $green;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .5s;

  &:hover {
    transition: opacity .5s;
    opacity: .6;
  }
}

.main-container {
  margin: 0 auto;
  width: 95%;

  @media #{$desktop-up} {
    width: 70%;
  }
}
