.footer {
  &:before {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
  }

  &:after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
  }

  &--block-item {
    padding: 0 20px;
  }

  &--link-list {
    list-style: none;
    line-height: 1.3;
    padding: 0;
  }

  &--copyright {
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
  }
}
