.header {
  padding: 10px 0;
  width: 100%;

  &--nav {
    align-items: center;
    display: flex;
    height: 110px;
    justify-content: space-between;
  }

  &--logo {
    text-transform: uppercase;

    a {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }

  &--nav-menu-link {
    padding-right: 5px;

    @media #{$desktop-up} {
      padding-right: 30px;
    }
  }
}
