.flash {
  color: $flash--color;
  height: 40px;
  line-height: 40px;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 10px;

  &--success {
    background-color: $flash-success--background;
  }

  &--alert {
    background-color: $flash-alert--background;
  }
}
