.btn {
  background-color: $light-gray;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: .3em 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: opacity 1s;
  width: 100%;

  &:hover {
    opacity: .8;
    transition: opacity 1s;
  }

  &.btn-success {
    background: $btn-success;
    color: white;
  }
}
