.car-list {
  [class^="col-"] {
    margin-top: 50px;
  }

  &:before {
    content: '';
    height: 50px;
    width: 100%;
  }

  &:after {
    content: '';
    height: 50px;
    width: 100%;
  }
}

.car-item {
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  height: 100%;

  &--img {
    width: 100%;
  }

  &--body {
    padding: 10px;
  }

  &--title {
    display: flex;
    justify-content: space-between;

    h4 + h4 {
      margin-left: 20px;
    }
  }
}
