.form {
  &--group {
    text-align: left;
    margin-bottom: 20px;

    label {
      cursor: pointer;
      display: block;
      font-weight: 500;
      margin-bottom: 10px;
    }

    input, textarea {
      line-height: 2;
      width: 100%;
    }

  }

  &--required-sign {
    color: $red;
  }

  &--hint {
    font-size: .8rem;
    margin-top: 5px;
  }
}
