// Main Colors
$black: #000000;
$gray: #595959;
$green: #189288;
$light-gray: #eeeeee;
$red: #FF0000;
$white: #fff;

// Fonts
$main-font: "Roboto", Arial, sans-serif;
$default-font-size: 16px;

// Media Breakpoints
$mobile-breakpoint: 768px;
$desktop-up: "(min-width:#{$mobile-breakpoint + 1px})";

// Buttons
$btn-success: #43AC6A;

// Alerts
$flash--color: $white;
$flash-alert--background: $red;
$flash-success--background: $btn-success;
