<footer class="footer main-container">
  <div class="row">
    <div class="footer--block-item col-xs-6">
      <h3>About Store</h3>
      <p>
        Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.
      </p>
      <p>Eos cumque dicta adipisci architecto culpa amet.</p>
    </div>

    <div class="footer--block-item col-xs-6">
      <h3>Information</h3>

      <ul class="footer--link-list">
        <li>
          <%= link_to 'Contact', '#' %>
        </li>

        <li>
          <%= link_to 'About Us', '#' %>
        </li>

        <li>
          <%= link_to 'Blog', '#' %>
        </li>
      </ul>
    </div>
  </div>

  <p class="footer--copyright">Copyright © Ordinary Mortal 2018 | All rights are not reserved</p>
</footer>
