<!DOCTYPE html>
<html>
  <head>
    <title>ECarsShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <header class="header">
      <nav class="header--nav main-container" role="navigation">
        <div class="header--logo">
          <%= link_to 'E-Cars Shop', root_path %>
        </div>

        <div class="header--nav-menu">
          <%= link_to 'Home', root_path, class: 'header--nav-menu-link' %>
          <%= link_to 'About', '#', class: 'header--nav-menu-link' %>
          <%= link_to 'Contact', '#', class: 'header--nav-menu-link' %>
          <%= link_to 'Blog', '#', class: 'header--nav-menu-link' %>
        </div>
      </nav>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash flash--#{key}" %>
    <% end %>

    <%= content_for :content_header %>

    <div class="main-container">
      <%= yield %>
    </div>

    <hr class="footer-separator"/>

    <%= render 'layouts/footer' %>
  </body>
</html>
